/* Main app css */
body {
  font-family: 'Merriweather Sans', sans-serif;
  color: #fff;
  background: #333;
  margin:0px;
  width:100%;
  height:100%;
  position:relative;
}

canvas {
  width:100%;
  height:100%;
}

.hello {
  background: #FF5E5E;
  position:relative;
  padding:100px;
  margin:50px;
  height:auto;
  width:50%;
  text-align:center;
  color:white;
  float:left;
  z-index:2;
}

#viewer {
  width:50%;
  height:600px;
  position:relative;
  float:left;
  z-index:1;
}

#me {
  margin:0 auto;
  z-index:1;
  background: url(../../img/K.png);
  width: 200px;
  height: 200px;
  -webkit-border-radius:200px;
  -moz-border-radius:200px;
  border-radius: 200px;
  border-bottom: 3px solid #CD4C4C;
}

#me span{
  display: none;
}

#QR{
  margin: auto;
  background: url(../../img/QR.png);
  width: 150px;
  height: 150px;
}
#QR a{
  display:none;
}
