	<div class="box hide">
		<span>
			<ul>
				<li>github</li>
				<li>email</li>
			</ul>
		</span>
	</div>

	<div class="box wide hide ">
		<span>
			{{quote}}
		</span>
	</div>

	<a href="#/projects" class="box hide ">
		<span>
		Projects
		</span>
	</a>

	<div class="box hide ">
		<span>
		Poemy
		</span>
	</div>

	<div class="box hide ">
		<span>
		webGL Experiments
		</span>
	</div>

	<div class="box big hide">
		<span>
		</span>
		<p id="QR"><a>This is where my QR code should go.</a></p>
		<p>add me on wechat</p>
	</div>

	<a href="#/tech" id="tech" class="box hide">
		<span>
		Technologies
		</span>
	</a>

	<div class="box hide">
		<span>
		Lines of Code Commited: 234245
		</span>
	</div>

	<div class="box wide  hide">
		<span>
		Latest Push: "added testing"
		</span>
	</div>

	<div id="hide" ng-click="hide('home')" class="box  hide">
		<span>
		 Hide All
		</span>
	</div>
