	<div class="box hide">
		<span>
		email and github
		</span>
	</div>

	<div class="box wide hide">
		<span>
		Summary
		</span>
	</div>

	<div class="box hide">
		<span>
		lines of code
		</span>
	</div>

	<div class="box big hide">
		<span>
		find me on wechat
		</span>
		<p id="QR"><a>This is where my QR code should go.</a></p>
	</div>

	<a href="#/tech">
	<div id="tech" class="box hide">
		<span>
		Tech
		</span>
	</div>
	</a>

	<div class="box hide">
		<span>
		Projects
		</span>
	</div>

	<div class="box wide hide ">
		<span>
		Latest Push
		</span>
	</div>

	<div ng-click="hide()" class="box hide ">
		<span>
		Hide All
		</span>
	</div>

	<div class="box hide ">
		<span>
		Latest Push
		</span>
	</div>

	<div class="box hide ">
		<span>
		Latest Push
		</span>
	</div>
