	<div class="box hide">
		<span>
		something
		</span>
	</div>

	<div class="box wide hide">
		<span>
		something
		</span>
	</div>

	<div class="box hide">
		<span>
		something
		</span>
	</div>

	<div class="box big hide">
		<span>
		</span>
		<p id="QR"><a>This is where my QR code should go.</a></p>
	</div>

	<a href="#/tech">
	<div id="tech" class="box hide">
		<span>
		something
		</span>
	</div>
	</a>

	<div class="box hide">
		<span>
		something
		</span>
	</div>

	<div class="box wide hide ">
		<span>
		Latest Push
		</span>
	</div>

	<div ng-click="hide()" class="box hide ">
		<span>
		Hide All
		</span>
	</div>

	<div class="box hide ">
		<span>
		Latest Push
		</span>
	</div>

	<div class="box hide ">
		<span>
		Latest Push
		</span>
	</div>
