//holds 3d space for the main Grid content
.container {
  width: 600px;
  height: 700px;
  perspective: 600px;
}

//card modules
.card {
  height: 100%;
  position: absolute;
  transition: transform $animTime;
  transform-style: preserve-3d;
  width: 100%;
  margin: 50px 50px;

  &.flipped {
      transform: rotateY(180deg);
  }

  .side {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .front {
    background: $white;
  }

  .back {
    background: $white;
    transform: rotateY(180deg);
    color: $grid-bg;
    padding: 20px;

    a {
      font-weight: bold;
      color: $grid-bg;
    }

    .return {
      color: $grid-bg;
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }
}

//grid modules
.grid {

  .grid-component {
    background-color: $grid-bg;
    box-shadow: 0 8px 6px -6px $bg-shadow;
    margin: 5px;
    padding: 20px;
    position: relative;
    float: left;
    font-size: 20px;
    text-shadow: 0px 1px 1px $offwhite;
  //  transition: opacity .3s ease;
  //  opacity: 0;
    height: 100px;
    z-index: 1;

    &.shown {
      opacity: 1;
    }

    //sizes
    &.small {
      width: calc(570px/3);
    }

    &.medium {
      width: calc((570px/3) * 2);
    }

    &.large {
      width: calc(580px);
    }

    &.full {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &:hover {
      border: 2px solid $background;
      box-shadow: 0 4px 8px -6px $bg-shadow;
      cursor: pointer;
    }

    h1 {
      margin: 0;
    }
  }
}

.quote {

  p {
    margin: 0;
    text-transform: italic;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    position: absolute;
    right: 10px;
    bottom: 10px;

    &:before {
      content: '- ';
    }
  }
}

.expanded {
  background-color: $white;
  height: 70%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease;

  &.shown {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

.quote-card {
  background-color: $background;
  padding: 60px;
  position: absolute;
  width: 70%;
  margin: 0 10%;
  transition: all .5s ease;
  bottom: -50px;
  opacity: 0;
  &.shown{
    //transform: translateY(170%);
    bottom: 30%;
    opacity: 1;
  }

  h1 {
    text-align: center;
    &::before {
      content: '"';
    }
    &::after {
      content:'"';
    }
  }

  p {
    margin-right: 10%;
    text-align: right;
  }
  p.center {
    text-align:center;
    width:100%;
  }
}

.background {
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  &.shown {
    opacity: 1;
  }

  img {
    display:none;
    //width:100%;
  }

  h3 {
    bottom: 10px;
    left: 20px;
    max-width: 30%;
    position: absolute;
  }

  h4 {
    bottom: 10px;
    right: 20px;
    max-width: 30%;
    position: absolute;
  }
}

.dovah {
  font-family: dovah;
  text-transform: uppercase;
}

.bottom {
  color: $darkgray;
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.about {
  position: absolute;
  color: $grid-bg;
  left: 20px;
  bottom: 20px;
}

.modal {
  display: none;
}
