<!doctype html>
<html lang="en" ng-app="Hello">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kenny Pirman</title>
  <link rel="stylesheet" href="../../app/css/build/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<!-- Global Ctrl -->
<body ng-controller="ApplicationController">

  <header class="home-header">
  </header>

  <!--Partials -->
  <div ng-view></div>

  <!--Scripts -->
  <script src="dist/js/build/app.min.js" type="text/javascript"></script>

  <!-- build:js js/build/app.min.js -->
  <script src="/lib/vendors/three.js" type="text/javascript"></script>
  <script src="/lib/vendors/ColladaLoader.js" type="text/javascript"></script>
  <script src="/lib/vendors/jquery.min.js" type="text/javascript"></script>
  <script src="/js/foundation.min.js" type="text/javascript"></script>
  <script src="/lib/angular/angular.js" type="text/javascript"></script>
  <script src="/lib/angular/angular-route.js" type="text/javascript"></script>
  <script src="/js/routes.js" type="text/javascript"></script>
  <script src="/js/controllers.js" type="text/javascript"></script>
  <script src="/js/services.js" type="text/javascript"></script>
  <script src="/js/directives.js" type="text/javascript"></script>
  <script src="/js/filters.js" type="text/javascript"></script>
  <!-- endbuild -->

  <!--live reload-->
  <script src="//localhost:35729/livereload.js"></script>-->

  </body>
</html>
